#sidebar {
    width: 15%;
    height: 100%;
    background-color: #b5b5b5;
    display: flex;
    flex-direction: column;
}

#sidebar > hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sidebar-item {
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a3a3a3;
    transition-duration: 0.3s;
}

a.sidebar-item {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a.sidebar-item:hover {
    background-color: #7d7d7d;
}

.copyright-item {
    margin-top: auto;
}

#website-title-span {
    color: white;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}