#topbar {
    width: 100%;
    height: 10%;
    background-color: #525252;
    padding-left: 15px;
    padding-right: 15px;
}

#main-content {
    width: 85%;
    height: 100%;
    background-color: #c4c4c4;
    box-sizing: border-box;
    padding: 15px;
}